{% extends 'base.html' %}
{% block main %}
<h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1> {% if not known %}
<p>Pleased to meet you!</p>
{% else %}
<p>Happy to see you again!</p>
{% endif %}
<form method="POST">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name() }}
    {% if form.errors %}
        <ul class="errors">{% for error in form.errors %}<li class="alert alert-danger">{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    {{ form.submit() }}
    </form>
{% endblock %}